<div layout="row" class="aboutContainer">
  <img src="assets/img/logo.png" id="homeLogo" alt="kimmy d's logo" />
</div>

<div layout="row">
  <div class="aboutContainer, photoTextContainer">

    <div id="aboutPhotoContainer" class="inner">
      <img src="assets/img/family.png" id="aboutPhoto">
    </div>

    <div id="aboutTextContainer" class="inner">
      <h1>About Us</h1>
      <p id="aboutText">Kimmy D's is a family owned diner based in Clearwater, Florida that's been up and running for 31 years.
        Quality service, ingredients, and experience is the reputation we aim to maintain. We hope to serve you breakfast when you're 
        groggy at 6am, and lunch when you're hangry at noon every Monday to Saturday.
      </p>
    </div>

  </div>
</div>