
.uber_eats_logo {
    background-image: url('/assets/img/uber_eats.png');
    background-size: cover;
}

.kimmyd_logo {
    background-image: url('/assets/img/logo.png');
    background-size: cover;
    background-color: lightblue;
}

.no-format-link {
    text-decoration: none;
    color: black;
}