.sidebar, .menu-list {
    float: left;
}

.sidebar {
    height: 100%;
    margin: 20px 0 0 20px;
}

.menu-list {
    margin: 20px;
}

.sidebar, .menu-list {
    display: inline-flex;
}

.breakfast-menu, .lunch-menu {
    height: 100%;
    text-align: center;
    width: 618px;
}

.img {
    display: inline-block;
}

hr {
    color: white;
    margin: 0;
}

.nav {
    margin: 0;
    padding: 0;
    width: 200px;
}

.nav-title {
    font-size: medium;
}

.nav-title, .nav-item {
    background-color: #009688;
    color: white;
    font-family: sans-serif;
    list-style: none;
    padding: 20px;
}
