<hr>
<div class = "d-flex" id = "wrapper">

    <div class = "sidebar">
        <nav class = "sidebar-nav">
            <ul class = "nav">
                <li class = "nav-title">Menu Options</li>
                <hr>
                <li class = "nav-item">
                    <button class = "mat-button"
                            (click) = "setOption('breakfast')">Breakfast</button>
                </li>
                <hr>
                <li class = "nav-item nav-dropdown">
                    <button class = "mat-button"
                            (click) = "setOption('lunch')">Lunch
                    </button>
                </li>
            </ul>
        </nav>
    </div>

    <div id = "page-content-wrapper">
        <li class = "menu-list" *ngIf = "option === 'breakfast'">
            <img src = "http://www.kimmyds.com/uploads/3/4/3/4/34345928/rev1-denise-kimmyd-page-4_orig.jpg">
        </li>
        <li class = "menu-list" *ngIf = "option === 'lunch'">
            <a class = "lunch-menu">
                <img src = "http://www.kimmyds.com/uploads/3/4/3/4/34345928/rev1-denise-kimmyd-page-2_orig.jpg">
                <img src = "http://www.kimmyds.com/uploads/3/4/3/4/34345928/rev1-denise-kimmyd-page-3_orig.jpg">
            </a>
        </li>
    </div>

</div>