p {
    font-size: 18px;
}

h3 {
    font-size: 20px;
    line-height: 40px;
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeLogo {
    width: 30%;
    padding-bottom: 20px;
}

#homeTitle {
    background-color: #114b5f;
    color: #f5f5f5;
    width: 80%;
    text-align: center;
    padding-top: 5px;
}

#homeSignatures {
    background-color: #028090;
    color: #f5f5f5;
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
}

#homeContact {
    background-color: #114b5f;
    color: #f5f5f5;
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
}

.homeFoodPic {
    padding: 15px;
}

.homeFoodPicBackground {
    background-color: white;
    width: 30%;
    color: black;
    display: inline-block;
    margin: 10px;
}

.homeServices {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    line-height: 40px;
    width: 22%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1499px) {
    .homeFoodPic {
        padding: 0px;
        vertical-align: top;
    }

    #pic3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1100px ) {
    #pic3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .homeServices {
        display: block;
        text-align: center;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 767px) {
    #homeLogo {
        width: 50%;
        padding-top: 50px;
        padding-bottom: 5px;
    }

    #homeTitle {
        width: 100%;
    }

    #homeSignatures {
        width: 100%;
    }

    #homeContact {
        width: 100%;
    }

    .homeFoodPicBackground {
        display: block;
        width: 90%;
    }

    .homeFoodPic {
        width: 90%;
        height: 90%;
        vertical-align: top;
    }

    .homeServices {
        display: block;
        width: 100%;
    }
}