<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div layout="row" class="homeContainer">
    <img src="assets/img/logo.png" id="homeLogo" alt="kimmy d's logo" />
</div>
<div layout="row" class="homeContainer">
  <div id="homeTitle">
      <p>Welcome to Kimmy D's, where we treat everyone like friends and family.</p>
  </div>
</div>
<div layout="row" class="homeContainer">
  <div id="homeSignatures">
    <h1>SIGNATURES DISHES</h1>
    <div class="homeFoodPicBackground">
      <img src="assets/img/hungry-man.png" alt="hungry man" class="homeFoodPic"/>
      <p>Hungry Man</p>
    </div>
    <div class="homeFoodPicBackground">
      <img src="assets/img/texas-bacon-burger.jpg" alt="texas bacon burger" class="homeFoodPic"/>
      <p>Texas Bacon Burger</p>
    </div>
    <div class="homeFoodPicBackground">
      <img src="assets/img/chicken-souvlaki-w-mini-greek-salad.jpg" alt="chicken soulaki w mini greek salad" class="homeFoodPic"/>
      <p>Chicken Souvlaki w Mini Greek Salad</p>
    </div>
  </div>
</div>
<div layout="row" class="homeContainer">
  <div id="homeContact">
    <h1>OUR SERVICES</h1>
    <div class="homeServices">
      <h2>
          <i class="material-icons">
              directions_car
          </i>
          FREE DELIVERY
      </h2>
      <h3>
          Gratuity not included
          <br>
          Deliveries from
          <br>
          9:00am-1:30pm Mon-Fri
          <br>
          10 cent per container charge
          <br>
          $5 minimum MOST AREAS
      </h3>
    </div>
    <div class="homeServices">
      <h2>
          <i class="material-icons">
              people_outline
          </i>
          CATERING
      </h2>
      <h3>
          We cater to your
          <br> 
          occasion!
          <br><br><br><br>
      </h3>
    </div>
    <div class="homeServices">
      <h2>
          <i class="material-icons">
              local_phone
          </i>
          CONTACT US
      </h2>
      <h3>
          www.kimmyds.com
          <br>
          Phone: 572-4949
          <br>
          Fax: 571-1986
          <br><br><br>
      </h3>
    </div>
    <div class="homeServices">
      <h2>
          <i class="material-icons">
              access_time
          </i>
          HOURS
      </h2>
      <h3>
          Mon-Fri 5:30am-3pm
          <br>
          Sat 5:30am-2pm
          <br>
          12211 49th Street No.
          <br>
          Clearwater, Florida
          <br><br>
      </h3>
    </div>
  </div>
</div>
